html {
    background: url(../img/14809326021111.jpg) no-repeat;
    background-size: 100%;
}

.mask {
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 10px solid rgba(173, 173, 173, 0.6);
    border-left-color: #2c2c2c;
    animation: loader 1.3s linear infinite;
  }
  
  @keyframes loader {
    100% {
      transform: rotate(360deg);
    }
  }

.registr-btn {
    margin: 20px;
}

.text {
    color: aliceblue;
    font-size: 30px;
}

.btn {
    background-color: inherit;
    border: none;
    border-radius: 20%;
    color: rgb(204, 204, 204);
}

.btn:hover {
    box-shadow: rgb(221, 221, 221) 0px 0px 40px;
}

.form {
    margin-top: 100px;
    margin-left: 600px;
    text-align: center;
}

.input-box {
    margin: 30px;
}

.input-field {
    background-color: #1f1f1f;
    border-radius: 20px;
    text-align: center;
    border: none;
    color: aliceblue;
    height: 30px;
    width: 250px;
}

.input-field:hover {
    box-shadow: rgb(221, 221, 221) 0px 0px 40px;
}

.send-btn {
    background-color: inherit;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    background-color: #1f1f1f;
    width: 100px;
    height: 30px;
}

.send-btn:hover {
    box-shadow: rgb(221, 221, 221) 0px 0px 40px;
}

.error .input-field {
    border-color:red;
    box-shadow: rgb(131, 0, 0) 0px 0px 40px; 
}

.error-label {
    display: block;
    color:red;
    margin-bottom: 25px;
}

