html {
    background: url(../img/14809326021111.jpg) no-repeat;
    background-size: 100%;
}

.registr-btn {
    margin: 20px;
}

.text {
    color: aliceblue;
    font-size: 30px;
}

.btn {
    background-color: inherit;
    border: none;
    border-radius: 20%;
    color: rgb(204, 204, 204);
}

.btn:hover {
    box-shadow: rgb(221, 221, 221) 0px 0px 40px;
}

.form {
    margin-top: 100px;
    margin-left: 600px;
    text-align: center;
}

.input-box {
    margin: 30px;
}

.input-field {
    background-color: #1f1f1f;
    border-radius: 20px;
    text-align: center;
    border: none;
    color: aliceblue;
    height: 30px;
    width: 250px;
}

.input-field:hover {
    box-shadow: rgb(221, 221, 221) 0px 0px 40px;
}

.send-btn {
    background-color: inherit;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    background-color: #1f1f1f;
    width: 100px;
    height: 30px;
}

.send-btn:hover {
    box-shadow: rgb(221, 221, 221) 0px 0px 40px;
}

.error .input-field {
    border-color:red;
    box-shadow: rgb(131, 0, 0) 0px 0px 40px; 
}

.error-label {
    display: block;
    color:red;
    margin-bottom: 25px;
}